@page "/"
<h1>Learning WebAssembly by building demos using Blazor</h1>

<p class="card-text">This website is for learning purposes. Source code and architecture can be found on <a href="https://github.com/q3blend/BlazorLearningApp">Github</a>. New demos for popular tools will be built to a fully functional demo state.</p>
<div class="card">
    <h5 class="card-header">CodeShare</h5>
    <div class="card-body">
        <p class="card-text">CodeShare is a basic collaborative editor that can be used to share code in real-time with other developers. It can be for interviews, troubleshooting, teaching & more…'</p>
        <a href="codeshare" class="btn btn-primary">CodeShare</a>
    </div>
</div>
<div class="card" style="margin-top: 12px;">
    <h5 class="card-header">Pastebin Replica</h5>
    <div class="card-body">
        <p class="card-text"><a href="https://pastebin.com">Pastebin.com</a> is the number one paste tool since 2002. Pastebin is a website where you can store text online for a set period of time.</p>
        <a href="pastebinr" class="btn btn-primary">Pastebin Replica</a>
    </div>
</div>

<ContactMe Email="q3ahmd@gmail.com" />
