@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/q3blend/BlazorLearningApp" class="ml-md-auto">Github</a>
    </div>

    <div class="content px-4" style="height:90%">
        @Body
    </div>
</div>
